<ul class="nav flex-column" id="menuLateral">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">¿Quienes somos?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Instagram</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Trabaja con nosotros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Preguntas frecuentes</a>
    </li>
  </ul>
