<div class="boxProducto">  
    <div class="card" style="width: 18rem;">
        <img src="./assets/agenda.JPG" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Agendas ecologicas</h5>
        <p class="card-text">Hechas con madera proveniente de bosques cultivados y papel ecológico de fibra de caña. Elige el 
            tamaño, el tipo de hojas y el color que más te guste, además personaliza la carátula con tu diseño: frases, logos, nombres, etc.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="./assets/separador.JPG" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Separadores de madera</h5>
        <p class="card-text">¡La lectura nos abre las puertas 
            del mundo que te atrevas a 
            imaginar!. Nuestros separadores 
            te ayudaran a marcar la lectura 
            de tu libro. Fabricados en 
            madera, totalmente 
            personalizables con tus frases y 
            citas favoritas.</p>
        
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="./assets/portarretrato.JPG" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Portarretrato</h5>
        <p class="card-text">Las fotografías nos permiten 
            inmortalizar los momentos, 
            recuerdos, personas y 
            experiencias. Nuestros 
            portarretratos de madera 
            personalizados guardaran tus 
            fotografías con tu mensaje ideal.</p>
        
        </div>
    </div>
</div>
<div class="boxProducto1">
    <div class="card" style="width: 18rem;">
        <img src="./assets/retrato.JPG" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Letreros</h5>
        <p class="card-text">¡Personaliza tus letreros con 
            nombres o tus frases favoritas
            para acompañar y nombrar tus 
            espacios como tu quieras!</p>
        
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="./assets/cepillo.JPG" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Cepillos de bambú</h5>
        <p class="card-text">Los pequeños hábitos, también son 
            grandes cambios. ¡Estos son nuestros 
            nuevos cepillos de bambú! Son 
            biodegradables, sostenibles, tienen 
            propiedades antibacterianas y son 
            una opción para reducir nuestros 
            residuos plásticos.</p>
        
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="./assets/portavelita.JPG" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Porta Velitas</h5>
        <p class="card-text">Las fotografías nos permiten 
            inmortalizar los momentos, 
            recuerdos, personas y 
            experiencias. Nuestros 
            portarretratos de madera 
            personalizados guardaran tus 
            fotografías con tu mensaje ideal.</p>
        
        </div>
    </div>
</div>

